option_settings:
  aws:elasticbeanstalk:application:environment:
    OPENAI_API_KEY: "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"
    AWS_ACCESS_KEY_ID: "AKIA2UC3A5LOLSDOW6X7"
    AWS_SECRET_ACCESS_KEY: "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"
    AWS_REGION: "ap-southeast-2"
    AWS_BUCKET_NAME: "academic-advisor-usyd-syllabus-demo1"
    PINECONE_API_KEY: "74d646ee-2186-4087-8c29-4302204dc9e6"
    PINECONE_API_KEY_ACADEMIC_ADVISOR: "79774d44-9630-46bc-ba5c-9a1dc526a656"
    PINECONE_API_URL: "https://controller.us-east-1.pinecone.io"
    GROQ_API_KEY: "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"
    GOOGLE_CSE_ID_UPENN: "7220bbd6588d6435b"
    GOOGLE_CSE_ID_HARVARD: "c694e21f818534633"
    GOOGLE_CSE_ID_CORNELL: "91b03d736614645f7"
    GOOGLE_CSE_ID_MIT: "b254599c3e5a44768"
    GOOGLE_CSE_ID_COLUMBIA: "8616fa763ddd94423"
    GOOGLE_API_KEY: "AIzaSyDjt6WK8mQ0VLjH0pZT_MJ4MFNWtHU8CkQ"
